# Ambiente virtual
venv/
.venv/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Banco de dados
database.db
*.db

# Variáveis de ambiente
.env

# VS Code
.vscode/

# Sistema
.DS_Store
Thumbs.db

# Logs
*.log

# Pytest
.pytest_cache/

# Arquivos temporários
*.tmp